<main>
  <p>{{titulo}}</p>
  <mat-form-field appearance="fill">
    <mat-label>Por favor seleccione un medio de transporte</mat-label>
    <mat-select (selectionChange)="selectOption($event.value)">
      <mat-option *ngFor="let medioTransporte of arregloMedioTransporte" [value]="medioTransporte.id">
        {{medioTransporte.medio}} {{medioTransporte.nombre}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <app-article-a [contenido]="selectedOption"></app-article-a>
  <app-article-b></app-article-b>
</main>
