* {
    /*valor propiedad color inicializado como palabra */
    color: red;
    /*valor propiedad color inicializado como hexadecimal */
    /*0,1,2,3,4,5,6,7,8,9,A,B,C,D,E,F*/
    /*color: #FF0000;*/
    /*valor propiedad color inicializado como rgb*/
    /*red, green, blue*/
    /*rgb(red, green, blue), 0(0%) - 255(100%)*/
    /*#000000 -> #000*/
    /*color: rgb(255, 0, 0);*/
}

a {
    color: steelblue;
}

div a {
    color: black;
}

p > a {
    color: yellowgreen;
}

p {
    color: yellow;
}

.miClase {
    color: blue;
}

#miIdentificador {
    color:blueviolet;
}

[ejemplo] {
    color: coral;
}